body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation */
.navbar {
  background-color: #B2A5FF;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding-bottom: 15px;
  color: black;
  overflow: hidden;
  border-radius: 5px;

}


.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

.nav-link {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 20px;
}

/* Hero Section */
/* .hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/api/placeholder/1600/800');
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 600px;
  display: flex;
  align-items: center;
  padding: 60px 0;
} */

.hero-content {
  max-width: 100%;
  text-align: center;

}

.hero-title {
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* Coursel */


.carousel-item {
  background-size:cover;
  padding: 25px;

}

.carousel-item img {
  height: 800px;
  width: 100%;
  object-fit: fill;
  object-position: center;
  border-radius: 20px;

}

/* Featured Categories */
.featured-section {
  padding: 50px 0;
  background-color: #f8f9fa;
  background-image: linear-gradient(rgb(202, 198, 251) 0.20%, rgb(234, 235, 247));
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.category-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  height: 100%;
  transition: transform 0.3s ease;
  
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: #6c757d 0px 15px 20px -10px;
}

.category-img {
  height: 250px;
  width: 100%;
  object-fit:fill;
}

.category-content {
  padding: 20px;
}

.category-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.category-desc {
  color: #6c757d;
  margin-bottom: 20px;
}

.view-link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.view-link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color:rgb(253, 247, 247);
  color: black;
  padding: 50px 0;
}

.footer-brand {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-text {
  color: black;
  margin-bottom: 2rem;
}

.footer-heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.footer-link {
  display: block;
  color: black;
  margin-bottom: 0.75rem;
  text-decoration: none;
}

.footer-link:hover {
  color: #0d6efd;
}

.contact-info {
  color: black;
  margin-bottom: 0.75rem;
}

